{% extends "base.html"%}

{% block title%} Εργασίες {% endblock %}

<h2> Αρχική </h2>

{% block content%} <h3 class="mt-3 text-center mb-5">Τεχνικές Εργασίες</h3>

<a href="{{url_for('new_repair')}}" class="btn btn-outline-primary float-end mb-3" role="button">Προσθήκη Νέας Εργασίας</a>

<table class="table table-hover mt-4">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ονομ/νο Χειριστή</th>
      <th scope="col">Τηλέφωνο</th>
      <th scope="col">Ονομ/νο Υπάλληλου</th>
      <th scope="col">Είδος υλικού</th>
      <th scope="col">Σειριακός Αριθμός</th>
      <th scope="col">Μήνες εγγύησης</th>
      <th scope="col">Ημέρες επισκευής</th>
      <th scope="col">Περιγραφή βλάβης</th>
      <th scope="col">Ημερομηνία καταγραφής</th>
    </tr>
  </thead>
  <tbody>
    {% for repair in repairs %}
      <tr>
        {% if repair.author == current_user or current_user.admin%}
          <th scope="row"><a href="{{ url_for('update_repair', repair_id=repair.id) }}">{{ repair.id }}</a></th>         
          <td>{{ repair.author.last_name }} {{ repair.author.first_name }}</td>
          <td>{{ repair.tel_no }}</td>
          <td>{{ repair.client.last_name }} {{ repair.client.first_name }}</td>
          <td>{{ repair.hardware.name }}</td>
          <td>{{ repair.serial }}</td>
          <td>{{ repair.guarantee }}</td>
          <td>{{ repair.duration }}</td>
          <td>{{ repair.error_description }}</td>
          <td>{{ repair.date_posted.strftime('%d-%m-%Y') }}</td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>







{% endblock %}

